<main class="container mt-5">
<h1 class="mb-4 text-black">Spiderman Blog Posts</h1>
<div class="row">
{{each posts}}
<div class="cold-md-4">
<div class="card mb-3">
<div class="card-header">
<h2 class="card-title">
<a href="/post/{{id}}" class="text-black"> {{title}}</a>
<h2>
</div>
</main>

