<div class="container mt-5">
<h2 class="mb-4"> Create A Blog Comment.</h2>
<form class="new-spiderman-post-form">
<div class="mb-3">
<label for ="title-new-spiderman-post" class= "form-label"> Title: </label>
<input
type="text"
class="form-control"
id+"title-new-spiderman-post"
placeholder+"Enter a title of your choice"
/>
</div>

<div class="mb-3">
<button type="submit" class="btn btn-primary"> Create Post </button>
</div>
</form>
</div>