<main class="container mt-5">
<article>
<h1>{{title}}</h1>
<p>Created by: {{user.username}} | Date: {{ formate_date createdAt}} </p>
<p>{{ content}} 
</article>
{{#if logged_in}}
<form class+"new-spiderman-comment-form" class="mb-3">
<div class="mb-3">
<label for="comment" class="form-label"> Add Comment:</label>
<textarea
class="form-control"
id="content-new-spiderman-comment"
rows="3"
placeholder= "Add a comment..."
></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

